<style>
    .customers-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .customers-container > div {
        margin: 10px;
        padding: 10px;
        border: 2px solid black;
        width: calc(2% + 100% / 4);
    }
</style>
{% extends "layout.html" %}
{% block left_column %}
<div><a href="/">Back to Home</a></div>
<div class="customers-container" style="overflow: auto;max-height: 650px;" >
    {% for customer in customers %}
    <div>
        {{ customer.name }} - 
        ${{ '{:,.2f}'.format(customer.money/100.0) }} remaining
    </div>
    {% endfor %}
</div>
{% endblock %}
